body {
    margin: 0;
    padding: 0;
    background-image: url("img/paisaje-forestal.jpg");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.swal2-container {
    z-index: 9999;
    /* Para asegurar que SweetAlert se muestre sobre otros elementos */
}

.wrap {


    color: aliceblue;
    text-align: center;
    padding: 2rem 3rem;
    box-shadow: 0 0 25px #222;
    backdrop-filter: blur(4px);

}

.fix {


    color: aliceblue;
    text-align: center;
    padding: 2rem 3rem;
    box-shadow: 0 0 25px #222;
    backdrop-filter: blur(4px);

}

p {
    font-size: xx-large;
    padding: 15%;
}

a {
    font-size: xx-large;
    padding: 0.75em;
}

button {
    font-size: xx-large;
    padding: 0.75em;
}

#yesBtn {
    transform: translate(-100%, 0);
}

#noBtn {
    position: absolute;
}

.swal2-container {
    z-index: 9999;
    /* Asegúrate de que este valor sea suficientemente alto */
}
